{%  extends 'home.html' %}

{% block content %}

<div class="container" style="font-size: 150px">
    <div class="row" style="text-align: center;">
      <div class="col">
        <a class="nav-link" href="#"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="col">
        <a class="nav-link" href="#"><i class="fa-brands fa-researchgate"></i></a>
      </div>
      <div class="col">
        <a class="nav-link" href="#"><i style="color: black;" class="fa-brands fa-github"></i></a>
      </div>
    </div>

    <div class="row" style="text-align: center; height: 50px;"> 
    </div>

    <div class="row" style="text-align: center;">
        <div class="col">
          <a class="nav-link" href="#"><i style="color: #bc2a8d;" class="fa-brands fa-instagram"></i></a>
          </div>
          <div class="col">
            <a class="nav-link" href="#"><i class="fa-brands fa-facebook"></i></a>
          </div>
          <div class="col">
            <a class="nav-link" href="#"><i style="color: 	#FF0000" class="fa-brands fa-youtube"></i></a>
          </div>
      </div>

 </div>

 {% endblock %}